# -----------------------------------------------------------------------------
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------------
logs
nbproject
output
# Next line commented out, because test/webapp-virtual-library and
# test/webapp-virtual-webapp use it:
# target
work
build.properties
mvn.properties
.checkstyle
.classpath
.fbprefs
.project
.settings
.idea
*.iml
*.asc
*.jj
*.tmp
maven-ant-tasks-*.jar
thumbs.db
Thumbs.db
bin/setenv.*
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
catalina-home/webapps/docs/jdbc-pool.xml
catalina-home/conf/Catalina/
catalina-home/webapps/
java/org/apache/catalina/ant/
java/org/apache/catalina/connector/
java/org/apache/catalina/core/
java/org/apache/catalina/deploy/
java/org/apache/catalina/filters/
java/org/apache/catalina/ha/authenticator/
java/org/apache/catalina/ha/backend/
java/org/apache/catalina/ha/context/
java/org/apache/catalina/ha/deploy/
java/org/apache/catalina/ha/session/
java/org/apache/catalina/loader/
java/org/apache/catalina/manager/
java/org/apache/catalina/mapper/
java/org/apache/catalina/mbeans/
java/org/apache/catalina/realm/
java/org/apache/catalina/security/
java/org/apache/catalina/servlets/
java/org/apache/catalina/session/
java/org/apache/catalina/ssi/
java/org/apache/catalina/startup/
java/org/apache/catalina/storeconfig/CatalinaClusterSF.java
java/org/apache/catalina/storeconfig/CertificateStoreAppender.java
java/org/apache/catalina/storeconfig/ChannelSF.java
java/org/apache/catalina/storeconfig/ConnectorSF.java
java/org/apache/catalina/storeconfig/ConnectorStoreAppender.java
java/org/apache/catalina/storeconfig/Constants.java
java/org/apache/catalina/storeconfig/CredentialHandlerSF.java
java/org/apache/catalina/storeconfig/GlobalNamingResourcesSF.java
java/org/apache/catalina/storeconfig/IStoreConfig.java
java/org/apache/catalina/storeconfig/IStoreFactory.java
java/org/apache/catalina/storeconfig/InterceptorSF.java
java/org/apache/catalina/storeconfig/JarScannerSF.java
java/org/apache/catalina/storeconfig/LoaderSF.java
java/org/apache/catalina/storeconfig/LocalStrings.properties
java/org/apache/catalina/storeconfig/ManagerSF.java
java/org/apache/catalina/storeconfig/NamingResourcesSF.java
java/org/apache/catalina/storeconfig/OpenSSLConfSF.java
java/org/apache/catalina/storeconfig/PersistentManagerSF.java
java/org/apache/catalina/storeconfig/RealmSF.java
java/org/apache/catalina/storeconfig/SSLHostConfigSF.java
java/org/apache/catalina/storeconfig/SenderSF.java
java/org/apache/catalina/storeconfig/StandardEngineSF.java
java/org/apache/catalina/storeconfig/StandardHostSF.java
java/org/apache/catalina/storeconfig/StandardServerSF.java
java/org/apache/catalina/storeconfig/StandardServiceSF.java
java/org/apache/catalina/storeconfig/StoreAppender.java
java/org/apache/catalina/storeconfig/StoreConfig.java
java/org/apache/catalina/storeconfig/StoreConfigLifecycleListener.java
java/org/apache/catalina/storeconfig/StoreContextAppender.java
java/org/apache/catalina/storeconfig/StoreDescription.java
java/org/apache/catalina/storeconfig/StoreFactoryBase.java
java/org/apache/catalina/storeconfig/StoreFactoryRule.java
java/org/apache/catalina/storeconfig/StoreFileMover.java
java/org/apache/catalina/storeconfig/StoreLoader.java
java/org/apache/catalina/storeconfig/StoreRegistry.java
java/org/apache/catalina/storeconfig/WatchedResourceSF.java
java/org/apache/catalina/storeconfig/WebResourceRootSF.java
java/org/apache/catalina/storeconfig/WrapperLifecycleSF.java
java/org/apache/catalina/storeconfig/WrapperListenerSF.java
java/org/apache/catalina/storeconfig/mbeans-descriptors.xml
java/org/apache/catalina/tribes/
java/org/apache/catalina/users/
java/org/apache/catalina/util/
java/org/apache/catalina/valves/
java/org/apache/catalina/webreso
urces/TomcatJarInputStream.java
java/org/apache/catalina/webresources/TomcatURLStreamHandlerFactory.java
modules/jdbc-pool/resources/
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/Bug50805.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/ConnectCountTest.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/SimplePOJOAsyncExample.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/StatementFinalizerTest.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/TestAsyncQueue.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/TestConcurrency.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/TestConnectionState.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/TestTimeout.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/TestValidationQueryTimeout.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/TwoDataSources.java
modules/jdbc-pool/src/test/java/org/apache/tomcat/jdbc/test/driver/
pom.xml
target/
