<?xml version="1.0" encoding="UTF-8"?>

<Server port="8005" shutdown="SHUTDOWN">

    <!--    ========== 监听器 ========== -->
    <!--  在Server初始化之前打印操作系统、JVM以及服务器的版本信息  -->
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <!--  在Server初始化之前加载APR库，并于Server停止之后销毁  -->
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <!--  在Server初始化之前调用，解决单例对象创建导致的JVM内存泄露问题以及锁文件问题 -->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <!--  在Server启动时，将JNDI资源注册为MBean进行管理  -->
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <!--  用于在Context停止时重建Executor池中的线程，避免导致内存泄漏  -->
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>


    <GlobalNamingResources>

        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>
    </GlobalNamingResources>

    <Service name="Catalina">


        <Connector port="8080" protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   redirectPort="8443"/>

        <Connector port="8009" protocol="AJP/1.3" redirectPort="8443"/>


        <Engine name="Catalina" defaultHost="localhost">


            <Realm className="org.apache.catalina.realm.LockOutRealm">

                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps"
                  unpackWARs="true" autoDeploy="true">

                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                       prefix="localhost_access_log" suffix=".txt"
                       pattern="%h %l %u %t &quot;%r&quot; %s %b"/>

            </Host>
        </Engine>
    </Service>
</Server>
